/*共通部分*/
html {
    font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;
}
ul {
    list-style:none;
    padding-left: 15px;
}
body {
    margin:0;
}
header {
    background-color:#87cefa;
}
.header_box {
    width:80%;
    margin: 0 auto;
    padding: 20px 0;
}
.header_box>a {
    color: #ffffff;
    font-size:24px;
}
.cart {
    flex:1;
    text-align:center;
    border-left:2px solid #FFFFFF;
    border-right:2px solid #FFFFFF;
}

.cart:hover {
    opacity:0.5;
    background:#dcdcdc;
    transition:0.6s;
}
.content {
    margin-left:auto;
    margin-right:auto;
    width:80%;
}
a {
    text-decoration:none;
}
input {
    font-size:24px;
}

#login {
    margin-top:200px;
    text-align:center;
    transition: 0.7s;
}
#login ul {
    list-style:none;
}

.drink_featured .price {
    text-align:center;
    font-size:28px;
    color:#ff0000;
}

.drink span.price {
    color:#ff0000;
    font-size:28px;
}

.border {
    border-bottom: 1px solid #000000;
}

.sort {
  margin:0 auto;
  background:#ffffff;
  width:80%;
}
.sort form {
    text-align:right;
}
.sort form select {
    -webkit-appearance:button;
    font-size:14px;
    padding:10px 0;
}
.sort form input {
    width:80px;
}

.area_header ul {
    margin:0;
    flex:1;
    display:flex;
    padding-left:0px;
}

.area_header li {
    display: inline;
    flex:1;
    text-align:center;
    border-left: 1px dotted #FFFFFF;
}
.area_header li a {
    display:block;
}

.area_top {
    font-size: 1.5vw;
    color:#FFFFFF;
    text-align:center;
}

.area_header li a:hover {
    opacity:0.5;
    background:#dcdcdc;
    color:#000000;
    transition:0.6s;
}

.selectbox_1,
.selectbox_2,
.selectbox_3 {
  position:relative;
}
select{
  -webkit-appearance:none;
    appearance:none;
  padding: 0 35px 0 20px;
  box-sizing:border-box;
  border:#ccc 1px solid;
  background:#dcdcdc;
  border-radius:2em;
}
.selectbox_1::after,
.selectbox_2::after,
.selectbox_3::after {
  content:"";
  display:block;
  width:10px;
  height:10px;
  position:absolute;
  border-bottom:#333 2px solid;
  border-right:#333 2px solid;
  transform:rotate(45deg)translateY(-30%);
}

.selectbox_1::after {
  right:7%;
  top:35%;
}

.selectbox_2::after {
  right:4%;
  top:35%;
}

.selectbox_3::after {
  right:8.5%;
  top:28%;
}

.color.selectbox_1::after,
.color.selectbox_2::after,
.color.selectbox_3::after {
  border-bottom:#fff 5px solid;
  border-right:#fff 5px solid;
}

.buy_history {
    width:80%;
    margin:0 auto;
    text-align:left;
    font-size: 1.2vw;
}

.buy_history a {
    color:#000000;
}

.buy_history a:hover {
    opacity:0.5;
    transition:0.6s;
}

/*カート個数表示をするとき*/
.amount {
    color: #ffffff;
    background: #ffa500;
    text-align: center;
    width: 20px;
    border-radius: 10px;
    position: relative;
    top: -6px;
    right: 28px;
}


/*ここまで*/

/*ヘッダー*/
input.button {
    width:306px;
    margin-top:15px;
    transition: 0.7s;
}
input.button:hover {
    opacity:0.6;
}

.button {
    cursor: pointer;
    font-size:24px;
    padding:0;
    background-color:#87cefa;
    color: #ffffff;
}
.new_button {
    width:306px;
    margin: 0 auto;
    font-size:24px;
    margin-top:15px;
    padding:1px;
}
.new_button a {
    color: #ffffff;
    font-weight: normal;
    display: block;
    background-color: #87cefa;
    transition: 0.7s;
}
.new_button a:hover {
    opacity:0.6;
}

input {
    margin:0 auto;
    width: 15vw;
}
.user_name input,
.password input{
    width:300px;
}
.password{
    margin-top:15px;
}

.cart img {
    width:22px;
    height:22px;
}

/*register_complete.php*/
.complete_text {
    font-weight:bold;
    font-size:24px;
}
.complete_buton {
    width:350px;
    margin: 0 auto;
    font-size:24px;
    margin-top:15px;
}
.complete_buton a {
    color: #ffffff;
    font-weight:normal;
    display: block;
    background-color: #87cefa;
    padding:10px 0;
    transition: 0.7s;
}

.complete_buton a:hover {
    opacity:0.6;
}

/*logout.php*/
.logout_text {
    font-weight:bold;
    font-size:24px;
}
.logout_buton {
    width:350px;
    margin: 0 auto;
    font-size:24px;
    margin-top:15px;
}
.logout_buton a {
    color: #ffffff;
    font-weight:normal;
    display: block;
    background-color: #87cefa;
    padding:10px 0;
    transition: 0.7s;
}

.logout_buton a:hover {
    opacity:0.6;
}
.logout {
    text-decoration:none;
    font-size: 1.5vw;
    color:#FFFFFF;
    
}
.logout_header {
    display:flex;
    -webkit-align-items: center;
    align-items: center;
}





/*top.php*/

.top_header {
    flex:3;
    display:flex;
     -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
}

.top_header div {
    flex:9;
    display:flex;
     -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
}

.top_header .name {
    margin-right:20px;
    width:18vw;
}

.top_header>a {
    color: #ffffff;
    font-size:1.5vw;
}

.top_header_box {
    margin: 0 auto;
    display:flex;
    width:80%;
}

.nav_bar {
    background-color: #ffffff;
    margin:0;
    padding:5px 0;
    text-align:center;
}
.nav_bar ul {
    width:80%;
    margin: 0 auto;
    padding-left: 0;
}
.nav_bar ul li {
    display:inline-block;
    font-size: 1.4vw;
}
.nav_bar ul li:last-child {
    padding-right:0;
}
.more {
 text-align:center;
 font-weight:bold;
}

.featured {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  background-color:#696969;
  list-style:none;
  padding-left:0;
}

.item {
    /* 横スクロール用 */
      display: inline-block;

      /* 見た目調整 */
      margin: 20px 0 0;
}
.item .item_img {
    height: 250px;
    width: 250px;
    display: block;
    margin: 0 auto;
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
}

.item .popup_content .item_img  {
     filter:none;
}

.item .popup .popup_content .item_img {
    height: 300px;
    width: 300px;
    margin-bottom: 20px;
}

.featured_name {
    color:#ffffff;
}


/*or検索のときに使う*/
.nav_bar span {
    font-size: 1.2vw;
    padding:0 5px;
}

.find {
    background-color: #87cefa;
    width: 4vw;
    font-size: 1.3vw;
    padding: 2px 3px 1px 1px;
    margin-left: 10px;
    color: #ffffff;
}
.sort form input.rearranges {
    background-color:#87cefa;
    width: 110px;
    font-size: 16px;
    padding: 2px 3px 1px 1px;
    margin-left:10px;
    color:#ffffff;
}
.nav_bar form select {
    font-size: 1.2vw;
    background:#dcdcdc;
 }

/*メイン*/
img {
    width:80%;
}
.slider {
    text-align: center;
    background-color:#dcdcdc;
    border-bottom: 1px solid #000000;
}
img,
.slider {
    height:620px;
}
.area {
    width:80%;
    margin:0 auto;
}
.area a {
    color: #000000;
}
.europe,
.asia,
.america,
.japan {
    display:flex;
    transition: 0.7s;
    border-radius: 30px;
    margin:50px 0;
    padding:20px 0;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
}
.europe:hover,
.asia:hover,
.america:hover,
.japan:hover {
    opacity:0.5;
    background-color:#cccccc;
    transition:1.5s;
}
.europe,
.asia {
    background-color:#f0f8ff;
}
.america,
.japan {
    background-color:#fffff0;
}

.area_img {
    flex:1;
    width:300px;
    height:240px;
}

.europe .area_img,
.asia .area_img {
    padding-left:20px;
}

.america .area_img,
.japan .area_img {
    padding-right:20px;
}

.area_text {
    flex:3;
}

.area_text h2 {
    text-align:center;
    margin-top:30px;
}

.area_text p {
    padding:0 20px;
    font-size:18px;
}

/*item_〇〇.php*/
.description_europe,
.description_america,
.description_asia,
.description_japan {
    font-size:20px;
    width:80%;
    margin:50px auto;
    border-radius:30px;
    padding:20px;
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
}

.description_europe,
.description_asia {
    background-color:#f0f8ff;
}

.description_america,
.description_japan {
    background-color:#fffff0;
}

.description_europe h2,
.description_america h2,
.description_asia h2,
.description_japan h2 {
    text-align:center;
}

/*それぞれの地域の商品を配列するときのcss*/
#flex {
    margin:0 auto;
    width:80%;
}
#flex_featured {
    margin:0 auto;
}
#flex_featured h2 {
    text-align:center;
}
.drink span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
    margin: 3px auto;
    text-align: center;
    font-size:20px;
}
.drink_featured span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
    margin: 3px auto;
    text-align: center;
    font-size:20px;
}
#flex .drink {
    width: 360px;
    height: 450px;
    text-align: center;
    margin: 10px;
    display: inline-block; 
}

#flex_featured .featured .item .drink_featured {
    text-align: center;
    margin: 20px;
    display: inline-block; 
}
.item_img {
    height: 300px;
    width: 300px;
    display:block;
    margin: 0 auto;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.4));
    border:5px solid #dcdcdc;
}
.item_img:hover {
    opacity:0.5;
    transition:0.6s;
}
.submit {
    clear:left;
}
.drink .red {
    color:#ff0000;
    font-size:24px;
    margin-bottom: -7px;
}
.drink_featured .red {
    color:#ff0000;
    font-size:24px;
    margin-bottom: -7px;
}
.cart-btn {
    background-color: #87cefa;
    color: #ffffff;
    border-radius: 10px;
    width: 70%;
}
.cart-btn:hover {
    opacity:0.5;
    transition:0.6s;
}


/*ポップアップ関連*/
.popup {
    z-index:2;
    display: none;
    height: 100vh;
    width: 100%;
    background: #000000;
    opacity: 0.95;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
}
 
.popup_content{
    padding: 20px;
    width: 50%;
    border-radius:70px;
    background-color:#fffacd;
}

.popup_content img:hover {
    opacity:1;
}
.show {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item_description {
    border-color: transparent;
    padding:0;
}

.popup_content img {
    border:none;
    filter:none;
    margin-bottom:20px;
}
.popup_content span {
    text-align:left;
}
.close {
    background-color:#87cefa;
    width: 70%;
    font-size:20px;
    color: #ffffff;
    border-radius: 10px;
    margin-top: 10px;
}
.close:hover {
    opacity:0.5;
    transition:0.6s;
}
.drink span.comment_title {
    padding: 10px 0;
    text-align: center;
}
.drink_featured span.comment_title {
    padding: 10px 0;
    text-align: center;
}
.scroll {
    white-space:normal;
    overflow-y:scroll;
    height: 287px;
}

/*「カートを入れる」ボタンを押したとき*/
.success-msg {
    background:#ff7f50;
    color:#ffffff;
    text-align:center;
    margin:0;
    font-size:20px;
    list-style:none;
}

/*フッター*/
body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer {
    text-align:center;
    background-color:#dcdcdc;
    padding:3px 0;
    clear:both;
    margin-top: auto;
}



/*cart.php*/
.cart_content {
    width:960px;
    margin-left: auto;
    margin-right: auto;
}

.cart_title {
    font-weight:normal;
    text-align:center;
    background-color:#dcdcdc;
    font-size: 24px;
}

.cart_table {
    margin:0 auto;
    display:flex;
    border-top: 2px solid #dcdcdc;
    padding:15px 0;
}

.cart_table span {
    font-size:24px;
}

.cart_table:last-child {
    border-bottom: 2px solid #dcdcdc;
}

.cart_table div {
    flex:1;
    text-align: center;
}

.cart_table span,
.cart_table form,
.cart_table img {
    flex:1;
    text-align:center;
}

.cart_table div span {
    width:100%;
}

.cart_table div span,
.cart_table div form {
    margin:10px;
}

.cart_table img {
    width:150px;
    height:150px;
}

.cart_table input {
    width:50px;
}

.purchase input {
    width:400px;
    margin-top: 30px;
}

input.buy-btn {
    width:100%;
    margin:10px 0 20px;
    background-color: #ff7f50;
    color:#ffffff;
    font-size:24px;
}

input.buy-btn:hover {
    opacity:0.6;
    transition:0.6s;
}

.buy-sum-box {
    text-align:center;
    padding:20px 0 10px;
    border-top: 2px solid #dcdcdc;
}

.buy-sum-title {
    font-size:24px;
}

.buy-sum-price {
    font-size:32px;
    color:#ff0000;
}

.cart_name {
    padding-left:10px;
}

/*finish.php*/
.done {
    width: 960px;
    background-color: #ff7f50;
    margin:20px auto;
    color:#ffffff;
    font-size:24px;
    text-align:center;
    list-style:none;
}
.finish_message {
    width:960px;
    margin:0 auto 20px;
    border:2px solid #dcdcdc;
}
.finish_message h3 {
    text-align:center;
    background:#ff7f50;
    margin-top:0;
    color:#FFFFFF;
    font-size:24px;
    font-weight:normal;
}
.finish_message p {
    padding-left:10px;
}
.cart_table img.img {
    width:150px;
    text-align:center;
}


/*search.php*/
#flex p {
    font-size:16px;
    color: #ff0000;
    text-align:center;
    margin:5px 0;
}
#flex p:first-child {
    margin-top:15px;
}

/*cart_pay.php*/
.form-horizontal input {
    font-size:16px;
}
.cart_content h2 {
    text-align:center;
    font-weight:normal;
}
.well {
    margin:0 auto 10px;
    font-size:20px;
}
.well p {
    margin:0;
}
.well input {
    width:360px;
}
.required {
    color:#ff0000;
    text-align:center;
    font-size:16px;
}
.input-group input {
    width:120px;
}
.grid {
    width:60%;
    margin:0 auto 20px;
}
.form__field {
    margin:10px 0;
}
.form-group input {
    font-size:20px;
}
.align__item {
    width:60%;
    margin:0 auto 20px;
    border:1px solid #000000;
}
#tel {
    width:160px;
}

#name1, #name2, #kana1, #kana2 {
     width:180px;
}

#zipcode {
    width:100px;
}

.select {
    margin:0 auto 10px;
    border:1px solid #000000;
    font-size:20px;
}
.select div {
    margin:10px 0 10px 12px;
}
.select input {
    width:20px;
}

/*confirm.php*/
.return {
    text-align:center;
}
.return input.buy-btn {
    width:100%;
    background-color: #dcdcdc;
    color:#000000;
    font-size:24px;
    margin: 0 0 20px 0;
}

.return input.buy-btn:hover {
    opacity:0.5;
    transition:0.6s;
}
.err_msg {
    width:960px;
    margin:0 auto;
}
.err_msg ul {
    list-style:none;
    font-size:20px;
    padding-left:0px;
}

/*buy.hstory*/
.cart_table.history {
    padding:10px 0;
}
.cart_table.history span,
.cart_table.history p {
    font-size:18px;
}
.cart_table.history img.img {
    width: 100px;
    height:100px;
    text-align: center;
}
.cart_table.history:last-child {
    border-bottom:none;
}
.cart_table.history p {
    margin:0;
}

.pagi_nation {
    text-align: center;
    font-size:20px;
    width: 80%;
    margin: 0 auto;
}

.current_page {
  color: #ff0000;
}

/*画面幅が480pxまでの時*/
@media screen and (max-width:960px) {
    
.amount {
    display:none;
}

.done {
    width:100%;
    font-size:20px;
}

.finish_message {
    width:100%;
}


}

/*画面幅が480pxまでの時*/
@media screen and (max-width:480px){
    
input.button {
    height: 45px;
}

.content {
    width: 100%;
}
    
select {
    padding: 0 35px 0 5px;
}
    
.area_text h2 {
    font-size: 32px;
}
    
.area_text p {
    font-size: 20px;
}
    
.area_header ul {
    margin: 0;
    flex: 1;
    padding-left: 0px;
    display:block;
}

.area_header li {
    border-left: 1px dotted #FFFFFF;
    display:block;
    border-bottom:1px solid #ffffff;
}

.area_header li:last-child {
    border-bottom: none;
}

.area_header li a {
    text-align: left;
    padding-left: 20px;
    font-size: 24px;
    display: block;
}
    
.top_header_box {
    margin: 0 auto;
    width: 100%;
    display: block;
}
.top_header_box {
    margin: 0 auto;
}

.top_header {
    display: block;
}

.top_header div {
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
}
.top_header .name {
    margin:0 auto;
    display: inherit;
    font-size: 24px;
    width: 100%;
    text-align: center;
}

.logout {
    font-size: 24px;
}

.nav_bar {
    padding: 0;
}

.buy_history {
    text-align: center;
    font-size: 24px;
    border-bottom: 1px solid #000000;
    width: 100%;
    margin-bottom: 15px;
}

.find {
    background-color: #87cefa;
    width: 350px;
    font-size: 28px;
    padding: 0;
    color: #ffffff;
    height: 42px;
    margin: 0 0 10px;
    width: 100%;
}

.sort {
    width: 100%;
    margin: 30px 0;
}

.sort form input.rearranges {
    padding: 0px;
    width: 310px;
    margin: 0px;
    font-size: 28px;
    height: 45px;
}

.cart-btn {
    font-size: 24px;
    height: 40px;
}

.buy_history a {
    display: block;
}

.drink span {
    font-size: 20px;
}

.drink span.price {
    font-size: 28px;
}

a.cart {
    border-left: none;
    border-right: none;
    text-align: center;
    display: block;
    border-bottom: 1px solid #ffffff;
    background: #ffa500;
}

.area_top {
    font-size: 16px;
}

.logout_header a {
    margin:0 auto;
}
.nav_bar ul {
    width: 100%;
    text-align: left;
}

.nav_bar {
    text-align: left;
}

.nav_bar ul li:last-child {
    width: 100%;
}

.nav_bar span {
    padding: 10px;
    display: block;
    font-size: 20px;
}
.nav_bar form select {
    font-size: 20px;
}

input {
    width: 240px;
}
img, .slider {
    height: 200px;
}
.item .item_img {
    width:200px;
    height:200px;
}
.item {
    display: inline-block;
    margin-top: 0;
}

.europe, .asia, .america, .japan {
    display: block;
    text-align: center;
}

.area_img {
    width: 250px;
    height: 150px;
}

.america .area_img, .japan .area_img {
    padding-right:0;
}

.europe .area_img, .asia .area_img {
    padding-left: 0;
}

.area_text {
    text-align:left;
}

#flex .drink {
    text-align: center;
    margin: 10px;
}

#flex .drink {
    text-align: center;
    margin: 10px;
    display: inline-block;
}

.description_europe, .description_america, .description_asia, .description_japan {
    font-size: 16px;
}

.description_europe, .description_america, .description_asia, .description_japan {
    margin: 20px auto;
    font-size: 20px;
}

#flex {
    width: 100%;
}

.sort form {
    text-align: center;
}

.sort form select {
    font-size: 24px;
    height: 50px;
    width: 176px;
    padding: 6px;
    border-radius: 0.5em;
    margin-bottom: 15px;
}

.sort form select option {
    text-align:center;
}

.sort form input {
    width: auto;
}

.popup_content {
    width: 100%;
}

.popup_content {
    border-radius: 40px;
}

.cart_content {
    width: 100%;
    text-align: center;
}

.cart_table img.img {
    width: 250px;
    text-align: center;
}

.cart_table img {
    height: 200px;
}

.cart_table {
    display: block;
}

.cart_table span,
.cart_table form,
.cart_table img {
    font-size:24px;
}

input {
    font-size: 20px;
    width: 300px;
    margin-bottom: 15px;
    height: 30px;
}

.select input {
    height: 20px;
    padding-right: 40px;
}

fieldset {
    padding: 0;
    font-size: 20px;
}

.well {
    font-size: 16px;
    text-align: left;
}

#name1, #name2, #kana1, #kana2 {
    font-size: 16px;
}

#zipcode,
#addr1,
#addr2,
#tel,
#email {
    font-size: 16px;
}

.select {
    text-align:left;
    font-size: 20px;
}

.done {
    width:100%;
    font-size:20px;
}

.finish_message {
    width:98%;
    font-size: 20px;
}

.finish_message h3 {
    font-size:24px;
}

.close {
    width: 300px;
    margin-top: 0;
}

.item .popup .popup_content .item_img {
    height: 120px;
    width: 120px;
    margin-bottom: 20px;
}

.popup_content img {
    height: 120px;
    width: 120px;
}

.item_img {
    height: 250px;
    width: 250px;
}

#flex .drink {
    width: 100%;
    margin:0;
    height: auto;
    margin-bottom: 20px;
}

#login {
    margin-top: 100px;
}

.complete_buton {
    width:300px;
    font-size: 16px;
}

.complete_text {
    font-size: 16px;
}

.success-msg {
    font-size: 22px;
}

.cart_table.history img.img {
    width: 200px;
    height: 200px;
}

.cart_table.history span,
.cart_table.history p {
    font-size: 20px;
}

.cart_title {
    font-size: 28px;
}

.border_responsive {
    background: #ffffff;
    border:1px solid #000000;
    width: 100%;
}

.cart_table input {
    width: 80px;
    font-size: 20px;
}

.buy-sum-title {
    font-size: 24px;
}

.buy-sum-price {
    font-size: 28px;
}

input.buy-btn {
    font-size: 24px;
    height: 40px;
}

.required {
    font-size: 24px;
}

.form-group {
    margin:5px 0;
}

#flex p {
    font-size: 20px;
}

#flex p span {
    display: none;
}

.scroll {
    height: 200px;
}

#flex_featured {
    display: none;
}

.europe,
.asia,
.america,
.japan {
    margin:30px 0;
}

.europe {
    margin:15px 0;
}

.err_msg {
    width: 100%;
}

.nav_bar ul li {
    font-size: 20px;
}

}


