html {
    font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;
}
ul {
    list-style:none;
    padding-left: 15px;
}
body {
    margin:0;
    overflow-x: hidden;
}
input {
    font-size:24px;
    margin:0 auto;
    width: 15vw;
}

.border {
    border-bottom: 1px solid #000000;
}
header {
    background-color:#87cefa;
}
.header_box {
    width:80%;
    margin: 0 auto;
    padding: 20px 0;
}
.header_box>a {
    color: #ffffff;
    font-size:24px;
}
a {
    text-decoration:none;
}
.top_header .name {
    margin-right:20px;
    width:18vw;
}

.top_header>a {
    color: #ffffff;
    font-size:1.5vw;
}

.logout_header {
    display:flex;
    -webkit-align-items: center;
    align-items: center;
}

.logout {
    text-decoration:none;
    font-size: 1.5vw;
    color:#FFFFFF;
    
}

.cart {
    flex:1;
    text-align:center;
    border-left:2px solid #FFFFFF;
    border-right:2px solid #FFFFFF;
}

.cart:hover {
    opacity:0.5;
    background:#dcdcdc;
    transition:0.6s;
}

#flex_featured .featured .item .drink_featured {
    text-align: center;
    margin: 20px;
    display: inline-block; 
}

.border {
    border-bottom: 1px solid #000000;
}

.area_header ul {
    margin:0;
    flex:1;
    display:flex;
    padding-left:0px;
}

.area_header li {
    display: inline;
    flex:1;
    text-align:center;
    border-left: 1px dotted #FFFFFF;
}
.area_header li a {
    display:block;
}

.area_top {
    font-size: 1.5vw;
    color:#FFFFFF;
    text-align:center;
}

.area_header li a:hover {
    opacity:0.5;
    background:#dcdcdc;
    color:#000000;
    transition:0.6s;
}

.selectbox_1,
.selectbox_2,
.selectbox_3 {
  position:relative;
}
select{
  -webkit-appearance:none;
    appearance:none;
  padding: 0 35px 0 20px;
  box-sizing:border-box;
  border:#ccc 1px solid;
  background:#dcdcdc;
  border-radius:2em;
}
.selectbox_1::after,
.selectbox_2::after,
.selectbox_3::after {
  content:"";
  display:block;
  width:10px;
  height:10px;
  position:absolute;
  border-bottom:#333 2px solid;
  border-right:#333 2px solid;
  transform:rotate(45deg)translateY(-30%);
}

.selectbox_1::after {
  right:7%;
  top:35%;
}

.selectbox_2::after {
  right:4%;
  top:35%;
}

.selectbox_3::after {
  right:8.5%;
  top:28%;
}

.color.selectbox_1::after,
.color.selectbox_2::after,
.color.selectbox_3::after {
  border-bottom:#fff 5px solid;
  border-right:#fff 5px solid;
}

.buy_history {
    width:80%;
    margin:0 auto;
    text-align:left;
    font-size: 1.2vw;
}

.buy_history a {
    color:#000000;
}

.buy_history a:hover {
    opacity:0.5;
    transition:0.6s;
}

/*カート個数表示をするとき*/
.amount {
    color: #ffffff;
    background: #ffa500;
    text-align: center;
    width: 20px;
    border-radius: 10px;
    position: relative;
    top: -6px;
    right: 28px;
}

.cart img {
    width:22px;
    height:22px;
}

.top_header {
    flex:3;
    display:flex;
     -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
}

.top_header div {
    flex:9;
    display:flex;
     -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
}

.top_header_box {
    margin: 0 auto;
    display:flex;
    width:80%;
}

.nav_bar {
    background-color: #ffffff;
    margin:0;
    padding:5px 0;
    text-align:center;
}
.nav_bar ul {
    width:80%;
    margin: 0 auto;
    padding-left: 0;
}
.nav_bar ul li {
    display:inline-block;
    font-size: 1.4vw;
}
.nav_bar ul li:last-child {
    padding-right:0;
}

.nav_bar span {
    font-size: 1.2vw;
    padding:0 5px;
}

.find {
    background-color: #87cefa;
    width: 4vw;
    font-size: 1.3vw;
    padding: 2px 3px 1px 1px;
    margin-left: 10px;
    color: #ffffff;
    border: none;
}

.nav_bar form select {
    font-size: 1.2vw;
    background:#dcdcdc;
}
 
 /*「カートを入れる」ボタンを押したとき*/
.success-msg {
    background:#ff7f50;
    color:#ffffff;
    text-align:center;
    margin:0;
    font-size:20px;
    list-style:none;
}

/*フッター*/
body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer {
    text-align:center;
    background-color:#dcdcdc;
    padding:3px 0;
    clear:both;
    margin-top: auto;
}

