.content {
    margin-left:auto;
    margin-right:auto;
    width:80%;
}

#login {
    margin-top:200px;
    text-align:center;
    transition: 0.7s;
}
#login ul {
    list-style:none;
}

input.button {
    width:306px;
    margin-top:15px;
    transition: 0.7s;
    border: none;
}
input.button:hover {
    opacity:0.6;
}

.button {
    cursor: pointer;
    font-size:24px;
    padding:0;
    background-color:#87cefa;
    color: #ffffff;
}
.new_button {
    width:306px;
    margin: 0 auto;
    font-size:24px;
    margin-top:15px;
    padding:1px;
}
.new_button a {
    color: #ffffff;
    font-weight: normal;
    display: block;
    background-color: #87cefa;
    transition: 0.7s;
}
.new_button a:hover {
    opacity:0.6;
}
.user_name input,
.password input{
    width:300px;
}
.password{
    margin-top:15px;
}

.test {
    font-size:18px;
}