th, td {
    border: solid 1px;
    padding: 10px;
    text-align: center;
}
table {
    border-collapse: collapse;
}

.customer_total_price {
    text-align: right;
    font-weight: bold;
}

.customer_total_price span {
    color: #ff0000;
    font-size: 28px;
}